.row{
	margin: 0 !important;
}
.conteiner1{
width: 100%;
height: 700px;
overflow: hidden;
}
.bigimg{
	max-height: 950px !important;
	transform: scaleY(1.3);
}
.about{
	position: absolute;
	    font-size: 40px;
    color: #fff;
    font-weight: 900 !important;
    text-transform: uppercase;
    top: 50%;
    left: 44.5%;
}
.nav1{
	width: 100%;
	position: absolute;
	z-index: 5;
	padding: 1% 0 0 10%;
	top: 0;
}
.navbar{
	background: none !important;
}
.nav-link {
    color: white !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
	background-color: transparent;
	border: none;
}
.nav-link:focus{
	outline: none;
}
.nav-link:hover{
	cursor: pointer;
}
.navbar-collapse {
	margin: 2% 0 0 5%;
}
.navbar-brand {
	font-size: 30px !important;
	color: white !important;
	margin-right: 5% !important;
	background-color:transparent;
	border:none;
}
.navbar-brand:focus{
	outline:none;
}
#a1{
	background: #f73471;
	text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 150px;
}
.sectin2{
	padding-top: 10%;
}
.gallery{
	margin: 10px;
}
.text1{
	margin-left: 50px;
}
.text2{
	margin-top: 80px;
	opacity: 0.6;
}
.heading-wrap h2:before {
    width: 80px;
    height: 2px;
    background: #f73471;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.heading-wrap h2{
	font-size: 50px;
    position: relative;
    padding-top: 30px;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 800;    
}
.heading-wrap{
	margin-bottom: 100px;
}
footer{
	margin-top: 100px;
	height: 400px;
	padding-top: 100px;
	background-color: #262626;
}
.grey{
	color: grey;
}