table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #f73471;
    color: #452F21;
    margin-left: 20px;
}
.navbar-collapse {
    margin: 2% 0 0 5%;
}
.midtable {
    display: flex;
    justify-content: center;
}

.novision {
    margin-top: 150px;
    margin-bottom: -300px;
}

.userMargin {
    margin-left: 14%;
}

.informat {
    font-family: Lobster;
    font-style: italic;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    #a1 {
        width: 80px;
    }
}

table td:first-child {
    border-top-left-radius: 5px;
}

table td:last-child {
    border-top-right-radius: 5px;
}

td {
    border-top: 3px solid #f73471;
    padding: 8px;
    background: white;
}

.userInf {
    justify-content: flex-end;
    float: right;
    display: flex;
    width: 20%;
    flex-direction: column;
}

.userName {
    border: solid 1px #ced4da;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
}

.money {
    border: solid 1px #ced4da;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
}

.logout {
    background-color: #f73471 !important;
    width: 100%;
    border: none;
}

.nav1{
    width: 100%;
    position: absolute;
    z-index: 5;
    padding: 1% 0 0 10%;
    top: 0;
}
.navbar{
    background: none !important;
}
.nav-link:hover{
    cursor: pointer;
}
.nav-link {
    color: white !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: transparent;
    border: none;
}
.nav-link:focus{
    outline: none;
}
.navbar-brand {
    font-size: 30px !important;
    color: white !important;
    margin-right: 5% !important;
    background-color:transparent;
    border:none;
}
.navbar-brand:focus{
    outline:none;
}

#a1 {
    background: #f73471;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 150px;
}

.carousel-item img {
    width: 100%;
    max-height: 753px !important;
    transform: scaleY(1.4);
}

.carousel-indicators li {
    border-radius: 100%;
    border: solid white 2px;
    background: none;
    width: 10px !important;;
    height: 10px !important;
    background-color: white !important;
}

.carousel-indicators .active {
    background: none !important;
}

.carouselName {
    font-weight: 800 !important;
}

.carousel-caption {
    top: 40%;
    font-size: 20px;
    color: white !important;
    width: 40%;
    text-align: center;
    margin: auto;
}

.row {
    margin: 0 !important;
}

.sectin2 {
    padding-top: 10%;
}

.heading-wrap h2:before {
    width: 80px;
    height: 2px;
    background: #f73471;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.heading-wrap h2 {
    font-size: 50px;
    position: relative;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

.conteiner3 {
    overflow: hidden;
    height: 605px;
}

.zoom:hover .getimg {
    transition: all 0.5s ease-out;
    transform: rotateY(180deg);
    opacity: 0;
}

.zoom:hover .textbox {
    transition: all 0.5s ease-out;
    transform: rotateY(180deg);
    opacity: 0;
}

.zoom:hover .price {
    background: none;
    border: solid white;
    cursor: pointer;
}

.price {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background: #f73471;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
}

.price:focus {
    outline: none;
}

.textbox {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #dbecfd;
}

.img1 {
    margin-top: -250px;
}

.sqr9:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.treiners {
    margin: 15px;
    padding: 0 !important;
    overflow: hidden;
}

.NameTr {
    opacity: 0.5;
}

footer {
    margin-top: 100px;
    height: 400px;
    padding-top: 100px;
    background-color: #262626;
}

.grey {
    color: grey;
}
.unstyled-button {
    border: 0;
    padding: 0;
    background: none;
}